.childRecipe{
  position: fixed;
  top: 80px;
  right: 10px;
  min-width: 50%;
  max-width: 50%;
  min-height: 150vh;
  border-left: 3px solid magenta;
  background-image: linear-gradient(90deg, #262626, transparent);
  color: white;
  text-shadow: 0px 0px 3px black;
}
.childRecipe li{
  font-size: 1.5rem;
}
